/*****************************
Estilos practica palma activa
******************************/

body{
    display:flex;
    justify-content: center;
    font-family:sans-serif;
    font-size:16px;
}

h1,h2,h3,a{
    font-size:18px;
}

.contenido{
    width: 1360px;
    background-color:#E8F9FF;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 20px;
}

.menu_Principal {
    width: 30%;
    display:flex;
    justify-content: space-between;
}

a{
    text-decoration:none;
}

.menu_Principal a {
    color:#000;
}

.menuPrincipal_inicio{
    font-weight:700;
}

.titulo {
    text-align: center;
    padding:20px 0 0 0;
}

main,footer{
    padding:0 20px;
}

.banner {
    width: 100%;
}


article{
    display:flex;
    align-items:center;
    line-height: 18px;
}

.zonaSuperior__flores{
    margin-left:0px;
}

.zonaSuperior_flores_foto{
    border-top-right-radius: 40px;
    width:651px;
   
}

.zonaInferior{
    flex-direction:row-reverse;
}

.zonaInferior__casas{
    margin-right:0px;
}

.zonaInferior_casas_foto
{
    border-top-left-radius: 40px;
    width:651px;
}

footer{
    background: #647378;
    margin-top:100px;
    height:200px;
    color:#ffffff;
    display:flex;
    align-items:center;
}

ul{
    list-style: none;
    padding:0px;
    margin:0px;
}

.social{
    margin:-25px 150px 0 0;
}

.legal{
    margin:-55px 0 0 0;
}

 li{
   margin-bottom:15px;
 }

 footer a{
     color:#ffffff;
 }

footer p{
   text-align: right;
   width:700px;
   font-size:12px;
}
